body{
    background-image: url('sam-gielen-library-02-0445.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:0px;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:50px;

}
#book-container{
    background:none;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
}
#addBtn{
    background-color: cornflowerblue;
    width: 116px;
    height: 56px;
    border-radius: 35px;
    font-weight: bolder;
}