body{
    background-image: url('sam-gielen-library-02-0445.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:0px;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#book-container{
    background:beige;
}